.login {

    .login__description {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        font-weight: 600;
        color: #03050F;
    }

     .login__condition {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.1px;
        vertical-align: middle;
     }

     .login__condition--modal {
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.1px;
        text-decoration: underline;
        font-style: solid;
        offset: 0%;
        text-decoration-thickness: 0%;
     }

     .login__condition--button {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.4px;
        text-transform: none;
        border-radius: 40px;
        padding: 20px 40px 20px 40px;
        gap: 8px;
     }

}

.line {
   border: 1px solid #CCD1EE; 
   width: 100%;
   display: none;
}

@media (max-width: 768px) {
   .line {
      display: block !important;
   }
}
