body {
    background: #fff !important;
}

$color-blue-two: #141938;

.iconBack {
    width: fit-content;
    gap: 8px;
    font-weight: 700;
    font-size: 18px !important;
    line-height: 20px !important;
    letter-spacing: 0.4px !important;
    vertical-align: middle;
    color: #4F4FFF !important;
}

.iconBack:hover {
    background-color: #03050F !important;
    color: #fff !important;
}

.plans--access {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.6px;
    color: $color-blue-two;
}

.plans__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.1px;
    align-items: center;
    color: $color-blue-two;
}

.plans__card {
    font-weight: 900;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.2px;
    color: $color-blue-two;
}

.plans__card__content {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $color-blue-two;
}

.plans__card__quote {
    margin-top: auto;
}

.listCard__button {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
}

.listCard__top {
    margin: auto;
}

.listCard__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: $color-blue-two;
}

.listCard__message {
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
    color: #7981B2;
}

.listCard__price {
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: $color-blue-two;
}

.listCard__row {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: $color-blue-two;
}

/* Media */

@media (max-width: 1550px) {    
    .body .body_content {
        width: 68%;    
    }
}

@media (max-width: 1250px) {   
    .body .body_content {
        width: 80%;    
    }
}

@media (max-width: 992px) {
    .plans__card__quote:last-child .col-sm-12 {
        height: auto;
    }
    .plans__card__quote:last-child .col-sm-12:last-child{
        margin-top: 1.5rem !important;
    }
    .listCard__top {
        margin-bottom: 1.5rem !important;
    }
}

@media (max-width: 768px) {    
    .body .body_content {
        width: 100%;
        padding: 0px;
    }
}

@media (max-width: 576px) {
    .page__plans .body .body_content .listCard__top {
        width: 85%;
    }
    .page__plans .body .body_content .listCard__top .card-body {
        padding: 1.5rem;
    }
}

@media (max-width: 360px) {
    .page__plans .body .body_content .listCard__top {
        width: 95%;
    }
}